<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <% customers.forEach(element => { %>
     <p>My name is <%= element %></p>
    <% }) %>

    <% if (id >= 8) { %>
     <p>The id <%= id %> is well</p>
    <% } else { %>
        <p>The id <%= id %> is invalid </p>
     <% } %>

</body>
</html>